body {
    font-family: sans-serif;
  }
  
  #flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid black;
    border-radius: 15%;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .box {
    display: flex;
    width: 50px;
    height: 50px;
    border: 5px dotted black;
    margin: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    transition: all, .2s ease-out;
  }

  .box:hover{
      transform: scale(1.1);
  }

  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }