body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #262626;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

/* Container for All of the cards */
.cards-container {
  justify-content: center;
  padding: 50px 235px 30px 210px;
}

.card {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  background: linear-gradient(to top, #262626, #00ffe7);
  color: white;
  animation: content 5s linear infinite;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  border: 3px solid #262626;
  border-radius: 20px;
  text-align: center;
}

.card-content {
  text-align: center;
  border: 3px solid #262626;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  position: absolute;
}

@keyframes content {

  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}


@media screen and (max-width: 620px) {
  .cards-container {
    padding: 250px 100px 30px 110px;
  }
}

@media screen and (max-width: 375px) {
  .cards-container {
    padding: 250px 30px 30px 30px;
  }
}