*{
    margin: 10px;
    padding: 10px;
    background-color: palegoldenrod;
}

img{
    width: 20%;
    height: 20%;
}

.inline-block:hover{
    display: inline-block;
    transition-timing-function: ease-out;
    transform: rotate(36000deg);
    transition-duration: 10s;
}

