@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    background: #26282B;
}

header ul{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header ul li{
    list-style: none;
    position: relative;
    padding: 10px 15px;
    transition: 0.5s;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,2555,255,.2);
}
header ul li:hover{
    background: #2196f3;
}

header ul li:last-child{
    border-right: none;
}

header ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

header ul li ul{
    position: absolute;
    top: 44px;
    Left: 0;
    display: block;
    background: #000;
    width: 200px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

header ul li ul li{
    border-bottom: 1 px solid rgba(255,255,255,.2);
    border-right: none;
}