body
{
  margin: 0;
  padding: 0;
  height: 100%vh;
  
  background: #232323;
  /* color: #cdcdcd; */
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#particles-js
{
    background: #262626;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px; /*top and left make the "menuToggle or the hamburger menu be positioned correctly in the corner"*/
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffffff; /* the color and transition color for the menu elements*/
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: limegreen;
  /*color for hovering over the elements in the slid menu*/
}


#menuToggle input
{
  /* adding a input box that is hidden */
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; /* changes the cursor to a pointer for element selection */
  opacity: 0; /* keeps it hidden */
  z-index: 2; /* and place it over the hamburger which is z-index of 1 */
}

#menuToggle span
{
  /*this is the hamburger menu icon */
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  /* change this color of the hamburger to be a gradient rgb */
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;

  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 50%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  /* what happens after you press the hamburger */
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

/* Hide the middle one to make a square */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  /* transform: rotate(-45deg) translate(0, -1px); */
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  /* background: #ededed;  white menu background*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  /* make this slower and smoother */
  /* maybe an animation? */
  transform: none;
}