*{
    margin: 0;
    padding: 0;
}

.flex{
    margin: 0 auto;
    background-color: orange;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

img{
    width: 200px;
    margin: 10px 0;
}